datadir="/var/lib/proxysql"

admin_variables=
{
    admin_credentials="admin:admin"
    mysql_ifaces="0.0.0.0:6033"
}

mysql_servers =
(
  { address="maestro1", port=3306, hostgroup=10 },
  { address="maestro2", port=3306, hostgroup=10 }
)

mysql_users =
(
  { username="app_user", password="app2025", default_hostgroup=10 }
)